main {
	position: relative;
}

iframe {
	display: block;
	margin: 1em auto
}

section[role="complementary" ] {
	width: 100%;
	overflow: auto;

}

div.tabs, *[role="tablist"], *[role="tabpanel"] {
	width: 100%;

}

div.tabs, *[role="tabpanel"] {
	overflow: auto;
}